@use '../global/colors' as c;

.carousel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);

  @media only screen and (min-width: 768px) {
    height: calc(50vh - 80px);
  }

  &__wrapper {
    display: flex;
    flex-grow: 2;
  }

  &__card {
    background: c.$white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 97%;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
    &:hover {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      height: 100%;
    }

    &-header > img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      display: block;
      height: 180px;
      object-fit: cover;
      width: 100%;
    }

    &-content {
      margin-bottom: auto;
      padding: 1rem 0.5rem;

      .desc {
        max-height: 32vh;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media only screen and (min-width: 768px) {
          max-height: 20vh;
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: end;
      padding-right: 1rem;
    }
  }
}

.swiper-button-next {
  right: -6px !important;
  top: 50% !important;

  &::after {
    font-size: 1.5rem !important;
  }

  @media only screen and (min-width: 620px) {
    top: 30% !important;
  }
}
.swiper-button-prev {
  left: -6px !important;
  top: 50% !important;

  &::after {
    font-size: 1.5rem !important;
  }

  @media only screen and (min-width: 620px) {
    top: 30% !important;
  }
}
